<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/cv">Publications</a></li>
				<li><a href="/cv">Teaching</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:noelpimentel@berkeley.edu">email</a></li>
	        		<li><a href="https://github.com/noelpimentel">github.com/noelpimentel</a></li>
				<li><a href="https://scholar.google.com/citations?user=_pIMn3AAAAAJ&hl=en">google scholar</a></li>
				<li><a hreft="https://www.linkedin.com/in/noel-pimentel-91b761122">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
